<div class="row">
  <div class="columns">
    <div class="column is-offset-one-fifth is-three-fifths-desktop form-category">
      <div class="title">
        <h1>Criar Categoria</h1>
      </div>

      <%= render 'form', category: @category %>
    </div>
  </div>

</div>
